
      <%= form_with(model: supervisor, local: true) do |form| %>
      <% if supervisor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(supervisor.errors.count, "error") %> prohibited this supervisor from being saved:</h2>

        <ul>
          <% supervisor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= form.label :username, 'Nombre de usuario' %>
        <%= form.text_field :username %>
      </div>

      <div class="field">
        <%= form.label :internal_password, 'Contraseña' %>
        <%= form.text_field :internal_password %>
      </div>

      <div class="field">
        <%= form.label :name, 'Nombre' %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :first_last_name, 'Apellido paterno' %>
        <%= form.text_field :first_last_name %>
      </div>

      <div class="field">
        <%= form.label :second_last_name, 'Apellido materno' %>
        <%= form.text_field :second_last_name %>
      </div>

      <div class="field">
        <%= form.label :email, 'Correo electrónico' %>
        <%= form.text_field :email %>
      </div>

      <div class="field">
        <%= form.label :country, 'País' %>
        <%= form.text_field :country %>
      </div>

      <div class="field">
        <%= form.label :state, 'Estado' %>
        <%= form.text_field :state %>
      </div>

      <div class="field">
        <%= form.label :city, 'Ciudad' %>
        <%= form.text_field :city %>
      </div>

      <div class="field">
        <%= form.label :partner, 'Socio' %>
        <%= form.text_field :partner %>
      </div>

      <div class="field">
        <%= form.label :organization_code, 'Código de organización' %>
        <%= form.text_field :organization_code %>
      </div>

      <div class="field">
        <%= form.label :gender, 'Género' %>
        <%= form.number_field :gender %>
      </div>

      <div class="field">
        <%= form.label :dob, 'Fecha de nacimiento' %>
        <%= form.date_select :dob, start_year: 1900 %>
      </div>

      <div class="field">
        <%= form.label :phone_number, 'Número telefónico' %>
        <%= form.text_field :phone_number %>
      </div>

      <div class="field">
        <%= form.label :language, 'Idioma' %>
        <%= form.text_field :language %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>
