<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nombre de usuario:</strong>
        <%= @supervisor.username %>
      </p>

      <p>
        <strong>Contraseña:</strong>
        <%= @supervisor.internal_password %>
      </p>

      <p>
        <strong>Nombre:</strong>
        <%= @supervisor.name %>
      </p>

      <p>
        <strong>Apellido paterno:</strong>
        <%= @supervisor.first_last_name %>
      </p>

      <p>
        <strong>Apellido materno:</strong>
        <%= @supervisor.second_last_name %>
      </p>

      <p>
        <strong>Correo electrónico:</strong>
        <%= @supervisor.email %>
      </p>

      <p>
        <strong>País:</strong>
        <%= @supervisor.country %>
      </p>

      <p>
        <strong>Estado:</strong>
        <%= @supervisor.state %>
      </p>

      <p>
        <strong>Ciudad:</strong>
        <%= @supervisor.city %>
      </p>

      <p>
        <strong>Socio:</strong>
        <%= @supervisor.partner %>
      </p>

      <p>
        <strong>Código de organización:</strong>
        <%= @supervisor.organization_code %>
      </p>

      <p>
        <strong>Género:</strong>
        <%= @supervisor.gender %>
      </p>

      <p>
        <strong>Fecha de nacimiento:</strong>
        <%= @supervisor.dob %>
      </p>

      <p>
        <strong>Número telefónico:</strong>
        <%= @supervisor.phone_number %>
      </p>

      <p>
        <strong>Idioma:</strong>
        <%= @supervisor.language %>
      </p>

      <%= link_to 'Editar', edit_supervisor_path(@supervisor) %> |
      <%= link_to 'Atrás', supervisors_path %>

    </div>
  </div>
</div>
