<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <h1>Preinscritos</h1>

      <div class="md-form mt-0">
        <%= form_tag(students_path, method: :get) do %>
          <%= text_field_tag :search,"", class: "form-control", placeholder: "Busqueda" %>
        <% end %>
      </div><br>

      <%= form_tag destroy_multiple_students_path, method: :delete do %>

      <table class="table table-hover table-fixed course_header">
        <!--Table head-->
        <thead >
          <tr>
            <th>Nombre de usuario</th>
            <th>Contraseña</th>
            <th class="">Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Correo electrónico</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <!--Table head-->
        <div class="scroll">
          <tbody>
            <% @students.each do |student| %>
              <tr>
                <td><%= student.username %></td>
                <td><%= student.internal_password %></td>
                <td class=""><%= student.name %></td>
                <td><%= student.first_last_name %></td>
                <td><%= student.second_last_name %></td>
                <td><%= student.email %></td>
                <td class=""><%= link_to 'Ver', student %></td>
                <td class=""><%= link_to 'Editar', edit_student_path(student) %></td>
                <td class=""><%= link_to 'Borrar', student, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar este curso de forma permanente?' } %></td>
                <td class=""><%= check_box_tag "student_ids[]", student.id, false, class: 'selectable' %></td>
              </tr>
            <% end %>
          </tbody>
        </div>
      </table>

      <%= submit_tag "Borrar seleccionados", :class => "buttond", data: { confirm: '¿Esta seguro que desea eliminar este curso de forma permanente?' } %>
      <% end %>

      <%= link_to destroy_all_students_path,  method: :delete, :class => "buttond", data: { confirm: 'Esta Seguro?' } do %>
      Borrar Todos
      <% end %>

      <br>
      <h3>Importar CSV </h3>

      <%= form_tag import_students_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= button_tag type: 'submit', class: "button" do %>
                Subir CSV
            <% end %>
      <% end %>


      <%= link_to '+ Crear', new_student_path, class: "btn btn-success"%>


    </div>
  </div>
</div>
