<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Username:</strong>
        <%= @student.username %>
      </p>

      <p>
        <strong>Internal password:</strong>
        <%= @student.internal_password %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @student.name %>
      </p>

      <p>
        <strong>First last name:</strong>
        <%= @student.first_last_name %>
      </p>

      <p>
        <strong>Second last name:</strong>
        <%= @student.second_last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @student.email %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @student.country %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @student.state %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @student.city %>
      </p>

      <p>
        <strong>Partner:</strong>
        <%= @student.partner %>
      </p>

      <p>
        <strong>Organization code:</strong>
        <%= @student.organization_code %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @student.gender %>
      </p>

      <p>
        <strong>Dob:</strong>
        <%= @student.dob %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @student.phone_number %>
      </p>

      <p>
        <strong>Language:</strong>
        <%= @student.language %>
      </p>

      <%= link_to 'Edit', edit_student_path(@student) %> |
      <%= link_to 'Back', students_path %>

    </div>
  </div>
</div>
