<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nombre de usuario:</strong>
        <%= @student.username %>
      </p>

      <p>
        <strong>Contraseña:</strong>
        <%= @student.internal_password %>
      </p>

      <p>
        <strong>Nombre:</strong>
        <%= @student.name %>
      </p>

      <p>
        <strong>Apellido paterno:</strong>
        <%= @student.first_last_name %>
      </p>

      <p>
        <strong>Apellido materno:</strong>
        <%= @student.second_last_name %>
      </p>

      <p>
        <strong>Correo electrónico:</strong>
        <%= @student.email %>
      </p>

      <p>
        <strong>País:</strong>
        <%= @student.country %>
      </p>

      <p>
        <strong>Estado:</strong>
        <%= @student.state %>
      </p>

      <p>
        <strong>Ciudad:</strong>
        <%= @student.city %>
      </p>

      <p>
        <strong>Socio:</strong>
        <%= @student.partner %>
      </p>

      <p>
        <strong>Código de organización:</strong>
        <%= @student.organization_code %>
      </p>

      <p>
        <strong>Género:</strong>
        <%= @student.gender %>
      </p>

      <p>
        <strong>Fecha de nacimiento:</strong>
        <%= @student.dob %>
      </p>

      <p>
        <strong>Número telefónico:</strong>
        <%= @student.phone_number %>
      </p>

      <p>
        <strong>Idioma:</strong>
        <%= @student.language %>
      </p>

      <p>
        <strong>CCA:</strong>
        <%= @student.cca %>
      </p>

      <p>
        <strong>Promotor:</strong>
        <%= @student.promoter_name %>
      </p>

      <p>
        <strong>Correo de promotor:</strong>
        <%= @student.promoter_email %>
      </p>

      <%= link_to 'Editar', edit_student_path(@student) %> |
      <%= link_to 'Atrás', students_path %>

    </div>
  </div>
</div>
