<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @stakeholder.username %>
</p>

<p>
  <strong>Internal password:</strong>
  <%= @stakeholder.internal_password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stakeholder.name %>
</p>

<p>
  <strong>First last name:</strong>
  <%= @stakeholder.first_last_name %>
</p>

<p>
  <strong>Second last name:</strong>
  <%= @stakeholder.second_last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @stakeholder.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @stakeholder.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @stakeholder.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @stakeholder.city %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @stakeholder.partner %>
</p>

<p>
  <strong>Organization code:</strong>
  <%= @stakeholder.organization_code %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @stakeholder.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @stakeholder.dob %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @stakeholder.phone_number %>
</p>

<p>
  <strong>Language:</strong>
  <%= @stakeholder.language %>
</p>

<%= link_to 'Edit', edit_stakeholder_path(@stakeholder) %> |
<%= link_to 'Back', stakeholders_path %>
