<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <h1>Tutores</h1>

      <div class="md-form mt-0">
        <%= form_tag(tutors_path, method: :get) do %>
          <%= text_field_tag :search,"", class: "form-control", placeholder: "Busqueda" %>
        <% end %>
      </div><br>

      <%= form_tag destroy_multiple_tutors_path, method: :delete do %>

      <table class="table table-hover table-fixed course_header">
        <!--Table head-->
        <thead >
          <tr>
            <th class="">Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Nombre de usuario</th>
            <th>Contraseña</th>
            <th>Correo electrónico</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <!--Table head-->
      </table>

      <div class="scroll">
        <table class="table table-hover table-fixed">

          <!--Table body-->
            <tbody>
              <% @tutors.each do |tutor| %>
                <tr>
                  <td class=""><%= tutor.name %></td>
                  <td><%= tutor.first_last_name %></td>
                  <td><%= tutor.second_last_name %></td>
                  <td><%= tutor.username %></td>
                  <td><%= tutor.internal_password %></td>
                  <td><%= tutor.email %></td>
                  <td class=""><%= link_to 'Ver', tutor %></td>
                  <td class=""><%= link_to 'Editar', edit_tutor_path(tutor) %></td>
                  <td class=""><%= link_to 'Borrar', tutor, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar este curso de forma permanente?' } %></td>
                  <td class=""><%= check_box_tag "tutor_ids[]", tutor.id, false, class: 'selectable' %></td>

                </tr>

              <% end %>
            </tbody>
          <!--Table body-->
        </table>



      </div>

      <%= submit_tag "Delete selected", :class => "buttond", data: { confirm: '¿Esta seguro que desea eliminar este curso de forma permanente?' } %>
      <% end %>

      <%= link_to destroy_all_tutors_path,  method: :delete, :class => "buttond", data: { confirm: 'Esta Seguro?' } do %>
      Borrar Todos
      <% end %>

      <br>
      <h3>Importar CSV </h3>

      <%= form_tag import_tutors_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= button_tag type: 'submit', class: "button" do %>
                Subir CSV
            <% end %>
      <% end %>

      <%= link_to '+ Crear', new_tutor_path, class: "btn btn-success"%>



    </div>
  </div>
</div>
