<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Username:</strong>
        <%= @tutor.username %>
      </p>

      <p>
        <strong>Internal password:</strong>
        <%= @tutor.internal_password %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @tutor.name %>
      </p>

      <p>
        <strong>First last name:</strong>
        <%= @tutor.first_last_name %>
      </p>

      <p>
        <strong>Second last name:</strong>
        <%= @tutor.second_last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @tutor.email %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @tutor.country %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @tutor.state %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @tutor.city %>
      </p>

      <p>
        <strong>Partner:</strong>
        <%= @tutor.partner %>
      </p>

      <p>
        <strong>Organization code:</strong>
        <%= @tutor.organization_code %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @tutor.gender %>
      </p>

      <p>
        <strong>Dob:</strong>
        <%= @tutor.dob %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @tutor.phone_number %>
      </p>

      <p>
        <strong>Language:</strong>
        <%= @tutor.language %>
      </p>

      <%= link_to 'Edit', edit_tutor_path(@tutor) %> |
      <%= link_to 'Back', tutors_path %>
      
    </div>
  </div>
</div>
