<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nombre de usuario:</strong>
        <%= @tutor.username %>
      </p>

      <p>
        <strong>Contraseña:</strong>
        <%= @tutor.internal_password %>
      </p>

      <p>
        <strong>Nombre:</strong>
        <%= @tutor.name %>
      </p>

      <p>
        <strong>Apellido paterno:</strong>
        <%= @tutor.first_last_name %>
      </p>

      <p>
        <strong>Apellido materno:</strong>
        <%= @tutor.second_last_name %>
      </p>

      <p>
        <strong>Correo electrónico:</strong>
        <%= @tutor.email %>
      </p>

      <p>
        <strong>País:</strong>
        <%= @tutor.country %>
      </p>

      <p>
        <strong>Estado:</strong>
        <%= @tutor.state %>
      </p>

      <p>
        <strong>Ciudad:</strong>
        <%= @tutor.city %>
      </p>

      <p>
        <strong>Socio:</strong>
        <%= @tutor.partner %>
      </p>

      <p>
        <strong>Código de organización:</strong>
        <%= @tutor.organization_code %>
      </p>

      <p>
        <strong>Género:</strong>
        <%= @tutor.gender %>
      </p>

      <p>
        <strong>Fecha de nacimiento:</strong>
        <%= @tutor.dob %>
      </p>

      <p>
        <strong>Número telefónico:</strong>
        <%= @tutor.phone_number %>
      </p>

      <p>
        <strong>Idioma:</strong>
        <%= @tutor.language %>
      </p>

      <%= link_to 'Editar', edit_tutor_path(@tutor) %> |
      <%= link_to 'Borrar', tutors_path %>

    </div>
  </div>
</div>
