<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @supervisor.username %>
</p>

<p>
  <strong>Internal password:</strong>
  <%= @supervisor.internal_password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @supervisor.name %>
</p>

<p>
  <strong>First last name:</strong>
  <%= @supervisor.first_last_name %>
</p>

<p>
  <strong>Second last name:</strong>
  <%= @supervisor.second_last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supervisor.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supervisor.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @supervisor.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @supervisor.city %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @supervisor.partner %>
</p>

<p>
  <strong>Organization code:</strong>
  <%= @supervisor.organization_code %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @supervisor.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @supervisor.dob %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @supervisor.phone_number %>
</p>

<p>
  <strong>Language:</strong>
  <%= @supervisor.language %>
</p>

<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisors_path %>
