<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Username:</strong>
        <%= @coordinator.username %>
      </p>

      <p>
        <strong>Internal password:</strong>
        <%= @coordinator.internal_password %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @coordinator.name %>
      </p>

      <p>
        <strong>First last name:</strong>
        <%= @coordinator.first_last_name %>
      </p>

      <p>
        <strong>Second last name:</strong>
        <%= @coordinator.second_last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @coordinator.email %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @coordinator.country %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @coordinator.state %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @coordinator.city %>
      </p>

      <p>
        <strong>Partner:</strong>
        <%= @coordinator.partner %>
      </p>

      <p>
        <strong>Organization code:</strong>
        <%= @coordinator.organization_code %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @coordinator.gender %>
      </p>

      <p>
        <strong>Dob:</strong>
        <%= @coordinator.dob %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @coordinator.phone_number %>
      </p>

      <p>
        <strong>Language:</strong>
        <%= @coordinator.language %>
      </p>

      <%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
      <%= link_to 'Back', coordinators_path %>
      
    </div>
  </div>
</div>
