<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_number, 'Número de grupo' %>
    <%= form.number_field :group_number %>
  </div>

  <div class="field">
    <%= form.label :course_id, 'Curso' %>
    <%= form.text_field :course_id %>
  </div>

  <div class="field">
    <%= form.label :tutor_id, 'Tutor' %>
    <%= form.text_field :tutor_id %>
  </div>

  <div class="field">
    <%= form.label :supervisor_id, 'Supervisor' %>
    <%= form.text_field :supervisor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
