<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_number, 'Número de grupo' %>
    <%= form.number_field :group_number, value: @group_num%>
  </div>

  <%  if params[:course_id] %>

    <div class="field">
      <%= form.label :course_id, "#{@course.name}" %>

      <%= form.text_field :course_id, value: params[:course_id]  %>

    </div>

  <% else %>

    <div class="field">
      <%= form.label :course_id, 'Curso' %>
      <%= form.text_field :course_id %>
    </div>

  <% end %>



  <div class="field">
    <%= form.label :tutor_id, 'Tutor' %>
    <%= select("group", "tutor_id", @tutors.collect {|tutor| [ "#{tutor.organization_code} __________ #{tutor.name} #{tutor.first_last_name}  #{tutor.second_last_name}", tutor.id ] })%>
  </div>

  <div class="field">
    <%= form.label :supervisor_id, 'Supervisor' %>
    <%= select("group", "supervisor_id", @supervisors.collect {|supervisor| [ "#{supervisor.organization_code} __________ #{supervisor.name} #{supervisor.first_last_name}  #{supervisor.second_last_name}", supervisor.id ] })%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
