<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <p id="notice"><%= notice %></p>


      <h1>Groups</h1>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Seleccionar Curso
        </button>
        <div class="dropdown-menu scroll" aria-labelledby="dropdownMenuButton">


          <%= link_to "Todos",  groups_url,  class: "dropdown-item" %>
          <% @courses.each do |course| %>

            <%= link_to "#{course.start_date} #{course.name}",  {:course_id => course.id},  class: "dropdown-item" %>

          <% end %>

        </div>
      </div>

      <%= form_tag destroy_multiple_groups_path, method: :delete do %>

      <table class="table table-hover table-fixed course_header">

        <!--Table head-->
        <thead>
          <tr>
            <th>Course</th>
            <th>Group number</th>
            <th>Tutor</th>
            <th>Supervisor</th>
            <th colspan="4"></th>
          </tr>
        </thead>
      </table>

      <div class="scroll">
        <table class="table table-hover table-fixed">

          <!--Table body-->
          <tbody>
            <% @groups.each do |group| %>
            <tr>
              <td><%= group.course.name %></td>
              <td><%= group.group_number %></td>
              <td><%= group.tutor.name %></td>
              <td><%= group.supervisor.name %></td>
              <td><%= link_to 'Show', group %></td>
              <td><%= link_to 'Edit', edit_group_path(group) %></td>
              <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td class=""><%= check_box_tag "group_ids[]", group.id, false, class: 'selectable' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>



      </div>

      <%= submit_tag "Borrar seleccionados", :class => "buttond", data: { confirm: '¿Esta seguro que desea eliminar este curso de forma permanente?' } %>
      <% end %>




      <table>

      </table>

      <br>

      <%= link_to 'Nuevo Grupo', new_group_path %>


    </div>
  </div>
</div>
