<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <p id="notice"><%= notice %></p>

      <h3><%= @group.course.name %></h3>
      <h3>Grupo: <%= @group.group_number %></h3> <br>

      <h2>PARTICIPANTES INSCRITOS</h2>
      <div class="scroll">
          <% @group.students.each do |student| %>
          <table class="table table-hover table-fixed">
            <thead >
              <tr>
                <th>Nombre de estudiante</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>CCA</th>
                <th>Nombre de promotor</th>
                <th>Correo promotor</th>
                <th>Aliado</th>
                <th>País</th>
              </tr>
            </thead>

              <tbody>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.first_last_name %></td>
                <td><%= student.second_last_name %></td>
                <td><%= student.cca %></td>
                <td><%= student.promoter_name %></td>
                <td><%= student.promoter_email %></td>
                <td><%= student.partner %></td>
                <td><%= student.country %></td>
                <td>
                  <%= link_to delete_student_groups_path(group: @group, student: student),  method: :delete, :class => "buttond", data: { confirm: 'Esta Seguro?' } do %>
                  Borrar Todos
                  <% end %>
                </td>

              </tr>
            </tbody>
          </table>
          <% end %>


      </div>

      <h2>PARTICIPANTES SIN GRUPO</h2>

        <div class="scroll">
          <% @result.each do |student| %>
          <table class="table table-hover table-fixed">
              <thead >
                <tr>
                  <th>Nombre de estudiante</th>
                  <th>Apellido paterno</th>
                  <th>Apellido materno</th>
                  <th>CCA</th>
                  <th>Nombre de promotor</th>
                  <th>Correo promotor</th>
                  <th>Aliado</th>
                  <th>País</th>
                </tr>
              </thead>

              <tbody>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.first_last_name %></td>
                <td><%= student.second_last_name %></td>
                <td><%= student.promoter_name %></td>
                <td><%= student.promoter_email %></td>
                <td><%= student.partner %></td>
                <td><%= student.country %></td>
                <td>
                  <%= form_tag add_student_groups_path(group: @group, student: student) do %>
                  <%= button_tag type: 'submit', class: "button" do %>
                  AGREGAR PARTICIPANTE
                  <% end %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <% end %>
        </div>

      <%= link_to 'Back', groups_path %>

    </div>
  </div>
</div>
