<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="entity-table">
      <tr>
        <td><b>Usuario</b></td>
        <td><%= form.text_field :usuario %></td>
      </tr>

      <tr>
        <td><b>Password</b></td>
        <td><%= form.text_field :password %></td>
      </tr>

      <tr>
        <td><b>Admin</b></td>
        <td><%= form.check_box :admin %></td>
      </tr>

      <tr>
        <td><b>Nombre</b></td>
        <td><%= form.text_field :nombre %></td>
      </tr>

      <tr>
        <td><b>Apellido Paterno</b></td>
        <td><%= form.text_field :apellido_paterno %></td>
      </tr>

      <tr>
        <td><b>Apellido Materno</b></td>
        <td><%= form.text_field :apellido_materno %></td>
      </tr>

      <tr>
        <td><b>Email</b></td>
        <td><%= form.text_field :email %></td>
      </tr>


      <tr>
        <td><b>Socio</b></td>
        <td><%= form.text_field :socio %></td>
      </tr>


      <tr>
        <td><b>Organización</b></td>
        <td><%= form.text_field :organizacion %></td>
      </tr>

      <tr>
        <td><b>País</b></td>
        <td><%= form.text_field :pais %></td>
      </tr>

      <tr>
        <td><b>Estado</b></td>
        <td><%= form.text_field :estado %></td>
      </tr>

      <tr>
        <td><b>Municipio</b></td>
        <td><%= form.text_field :municipio %></td>
      </tr>
    </table>

  <div class="actions">
    <%= form.submit 'Guardar', :class => 'button tall' %>
  </div>
<% end %>
