<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Password</th>
      <th>Admin</th>
      <th>Nombre</th>
      <th>Apellido materno</th>
      <th>Apellido paterno</th>
      <th>Email</th>
      <th>Socio</th>
      <th>Organizacion</th>
      <th>Pais</th>
      <th>Estado</th>
      <th>Municipio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.usuario %></td>
        <td><%= user.password %></td>
        <td><%= user.admin %></td>
        <td><%= user.nombre %></td>
        <td><%= user.apellido_materno %></td>
        <td><%= user.apellido_paterno %></td>
        <td><%= user.email %></td>
        <td><%= user.socio %></td>
        <td><%= user.organizacion %></td>
        <td><%= user.pais %></td>
        <td><%= user.estado %></td>
        <td><%= user.municipio %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
