<p id="notice"><%= notice %></p>

<div class="box">
    <div class="body">


    <table class="entity-table">
      <tr>
        <td><b>Usuario</b></td>
        <td><%= @user.usuario %></td>
      </tr>

      <tr>
        <td><b>Password</b></td>
        <td><%= @user.password %></td>
      </tr>

      <tr>
        <td><b>Admin</b></td>
        <td><%= @user.admin %></td>
      </tr>

      <tr>
        <td><b>Nombre</b></td>
        <td><%= @user.nombre %></td>
      </tr>

      <tr>
        <td><b>Apellido Paterno</b></td>
        <td><%= @user.apellido_paterno %></td>
      </tr>

      <tr>
        <td><b>Apellido Materno</b></td>
        <td><%= @user.apellido_materno %></td>
      </tr>

      <tr>
        <td><b>Email</b></td>
        <td><%= @user.email %></td>
      </tr>

      <tr>
        <td><b>Socio</b></td>
        <td><%= @user.socio %></td>
      </tr>

      <tr>
        <td><b>Organización</b></td>
        <td><%= @user.organizacion %></td>
      </tr>

      <tr>
        <td><b>País</b></td>
        <td><%= @user.pais %></td>
      </tr>

      <tr>
        <td><b>Estado</b></td>
        <td><%= @user.estado %></td>
      </tr>

      <tr>
        <td><b>Municipio</b></td>
        <td><%= @user.municipio %></td>
      </tr>
    </table>

    <%= link_to 'Edit', edit_user_path(@user), :class=>"button" %>
    <%= link_to 'Back', users_path, :class=>"button"  %>


  </div>
</div>