<%= form_with(model: curso, local: true) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :curso_nombre %>
    <%= form.text_field :curso_nombre %>
  </div>

  <div class="field">
    <%= form.label :programa %>
    <%= form.text_field :programa %>
  </div>

  <div class="field">
    <%= form.label :tematica %>
    <%= form.text_field :tematica %>
  </div>

  <div class="field">
    <%= form.label :num_grupo %>
    <%= form.number_field :num_grupo %>
  </div>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :inicio_ins %>
    <%= form.text_field :inicio_ins %>
  </div>

  <div class="field">
    <%= form.label :fin_ins %>
    <%= form.text_field :fin_ins %>
  </div>

  <div class="field">
    <%= form.label :inicio_curso %>
    <%= form.text_field :inicio_curso %>
  </div>

  <div class="field">
    <%= form.label :fin_curso %>
    <%= form.text_field :fin_curso %>
  </div>

  <div class="field">
    <%= form.label :tipo_rec %>
    <%= form.text_field :tipo_rec %>
  </div>

  <div class="field">
    <%= form.label :duracion %>
    <%= form.number_field :duracion %>
  </div>

  <div class="field">
    <%= form.label :num_act %>
    <%= form.number_field :num_act %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
