<!--p id="notice"><%= notice %></p-->
<div class="box">
  <div class="body">
    <h1>Lista de cursos</h1>
    <div class="media">
      <div class="search-bar">
          <%= form_tag(cursos_path, method: :get) do %>
            <%= text_field_tag :search,"",:class=>"searchTerm",:placeholder=>"Busqueda" %>
            <%= button_tag type: 'submit', class: "button" do %>
              Buscar <i class="fa fa-search"></i>
            <% end %>
          <% end %>

      </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Curso nombre</th>
                <th>Programa</th>
                <th>Tematica</th>
                <th>Clave</th>
                <th>Tipo rec</th>
                <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @cursos.each do |curso| %>
              <tr>
                <td><%= curso.curso_nombre %></td>
                <td><%= curso.programa %></td>
                <td><%= curso.tematica %></td>
                <td><%= curso.num_grupo %></td>
                <td><%= curso.clave %></td>
                <td><%= curso.tipo_rec %></td>
                <td>
                  <%= link_to curso do %>
                      <i class="btn fas fa-eye fa-sm text-primary" aria-hidden="true"></i>
                    <%end%>
                  </td>
                  <% if current_user.admin %>
                  <td>
                    <%= link_to edit_curso_path(curso) do %>
                      <i class="btn fas fa-edit fa-sm text-primary" aria-hidden="true"></i>
                    <%end%>
                   </td>
                  <td>
                    <%= link_to curso, method: :delete, data: { confirm: 'Esta Seguro?' } do%>
                      <i class="btn fa fa-trash-alt fa-sm text-danger" aria-hidden="true"></i>
                    <%end%>
                  </td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    <br>
    <% if current_user.admin %>
      <%= link_to destroy_all_cursos_path,  method: :delete, :class => "buttond", data: { confirm: 'Esta Seguro?' } do %>
        Borrar Todos
      <% end %>

      <%= link_to new_curso_path, :class => "button" do %>
        Crear curso <i class="fa fa-plus"></i>
      <% end %>

      <%= link_to cursos_path(format: :csv), :class => "button" do %>
        Descargar CSV <i class="fa fa-file-csv"></i>
      <% end %>

      <h3>Importar CSV</h3>
      <%= form_tag import_cursos_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= button_tag type: 'submit', class: "button" do %>
                Subir CSV <i class="fa fa-file-import"></i>
            <% end %>
      <% end %>

    <% end %>

  </div>
</div>
