<div class="box">
    <div class="body">

      <table class="entity-table">
        <tr>
          <td><b>Curso nombre</b></td>
          <td><%= @curso.curso_nombre %></td>
        </tr>

        <tr>
          <td><b>Programa</b></td>
          <td><%= @curso.programa %></td>
        </tr>

        <tr>
          <td><b>Tematica</b></td>
          <td><%= @curso.tematica %></td>
        </tr>

         <tr>
          <td><b>Num grupo</b></td>
          <td><%= @curso.num_grupo %></td>
        </tr>

         <tr>
          <td><b>Clave</b></td>
          <td><%= @curso.clave %></td>
        </tr>

         <tr>
          <td><b>Inicio de inscripcion</b></td>
          <td><%= @curso.inicio_ins %></td>
        </tr>

         <tr>
          <td><b>Fin de inscripcion</b></td>
          <td><%= @curso.fin_ins %></td>
        </tr>

         <tr>
          <td><b>Inicio de curso</b></td>
          <td><%= @curso.inicio_curso %></td>
        </tr>

         <tr>
          <td><b>Fin de curso</b></td>
          <td><%= @curso.fin_curso %></td>
        </tr>

         <tr>
          <td><b>Tipo de reconocimiento</b></td>
          <td><%= @curso.tipo_rec %></td>
        </tr>

        <tr>
          <td><b>Duracion</b></td>
          <td><%= @curso.duracion %></td>
        </tr>

        <tr>
          <td><b>Num. de actividades</b></td>
          <td><%= @curso.num_act %></td>
        </tr>

        <tr>
          <td><b>URL</b></td>
          <td><%= @curso.url %></td>
        </tr>
      </table>

    <%= link_to 'Editar', edit_curso_path(@curso) %> |
    <%= link_to 'Regresar', cursos_path %>

  </div>
</div>