<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nombre de usuario:</strong>
        <%= @stakeholder.username %>
      </p>

      <p>
        <strong>Contraseña:</strong>
        <%= @stakeholder.internal_password %>
      </p>

      <p>
        <strong>Nombree:</strong>
        <%= @stakeholder.name %>
      </p>

      <p>
        <strong>Apellido paterno:</strong>
        <%= @stakeholder.first_last_name %>
      </p>

      <p>
        <strong>Apellido materno:</strong>
        <%= @stakeholder.second_last_name %>
      </p>

      <p>
        <strong>Correo electrónico:</strong>
        <%= @stakeholder.email %>
      </p>

      <p>
        <strong>País:</strong>
        <%= @stakeholder.country %>
      </p>

      <p>
        <strong>Estado:</strong>
        <%= @stakeholder.state %>
      </p>

      <p>
        <strong>Ciudad:</strong>
        <%= @stakeholder.city %>
      </p>

      <p>
        <strong>Socio:</strong>
        <%= @stakeholder.partner %>
      </p>

      <p>
        <strong>Código de organización:</strong>
        <%= @stakeholder.organization_code %>
      </p>

      <p>
        <strong>Género:</strong>
        <%= @stakeholder.gender %>
      </p>

      <p>
        <strong>Fecha de nacimiento:</strong>
        <%= @stakeholder.dob %>
      </p>

      <p>
        <strong>Número telefónico:</strong>
        <%= @stakeholder.phone_number %>
      </p>

      <p>
        <strong>Idioma:</strong>
        <%= @stakeholder.language %>
      </p>

      <%= link_to 'Editar', edit_stakeholder_path(@stakeholder) %> |
      <%= link_to 'Atrás', stakeholders_path %>

    </div>
  </div>
</div>
