<%= form_with(model: aliado, local: true) do |form| %>
  <% if aliado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aliado.errors.count, "error") %> prohibited this aliado from being saved:</h2>

      <ul>
      <% aliado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="entity-table">
      <tr>
        <td><b>Nombre</b></td>
        <td><%= form.text_field :nombre %></td>
      </tr>

      <tr>
        <td><b>Tipo socio</b></td>
        <td><%= form.select :tipo_socio, ['Linea', 'Presencial'] , class:"form-control"%></td>
      </tr>

      <tr>
        <td><b>Correo</b></td>
        <td><%= form.text_field :correo %></td>
      </tr>

      <tr>
        <td><b>Contacto</b></td>
        <td><%= form.text_field :contacto %></td>
      </tr>
    </table>


  <div class="actions">
    <%= form.submit 'Guardar', :class => 'button tall' %>
  </div>

<% end %>
