<p id="notice"><%= notice %></p>

<!--p id="notice"><%= notice %></p-->

<h1>Lista de aliados</h1>
    <div class="box">
      <div class="body">
        <div class="media">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                      <th>Tipo socio</th>
                      <th>Correo</th>
                      <th>Contacto</th>
                      <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @aliados.each do |aliado| %>
                  <tr>
                    <td><%= aliado.nombre %></td>
                        <td><%= aliado.tipo_socio %></td>
                        <td><%= aliado.correo %></td>
                        <td><%= aliado.contacto %></td>
                    <td>
                      <%= link_to aliado do %>
                      <i class="btn fas fa-eye fa-sm text-primary" aria-hidden="true"></i>
                      <%end%>
                    </td>
                    <td>
                      <%= link_to edit_aliado_path(aliado) do %>
                      <i class="btn fas fa-edit fa-sm text-primary" aria-hidden="true"></i>
                      <%end%>
                    </td>
                    <td>
                      <%= link_to aliado, method: :delete, data: { confirm: 'Esta Seguro?' } do%>
                      <i class="btn fa fa-trash-alt fa-sm text-danger" aria-hidden="true"></i>
                      <%end%>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
    
        </div>

      </div>
    </div>




<br>

<%= link_to 'New Aliado', new_aliado_path %>
