<p id="notice"><%= notice %></p>

<div class="box">
  	<div class="body">
	  	<p>
			<b>Nombre:</b>
			<%= @aliado.nombre %>
		</p>

		<p>
			<b>Tipo socio:</b>
			<%= @aliado.tipo_socio %>
		</p>

		<p>
			<b>Correo:</b>
			<%= @aliado.correo %>
		</p>

		<p>
			<b>Contacto:</b>
			<%= @aliado.contacto %>
		</p>

		<%= link_to 'Edit', edit_aliado_path(@aliado) %> |
		<%= link_to 'Back', aliados_path %>

	</div>
</div>