<div class="box">
  	<div class="body">

  		<table class="entity-table">
	      <tr>
	        <td><b>Nombre</b></td>
	        <td><%= @aliado.nombre %></td>
	      </tr>

	      <tr>
	        <td><b>Tipo socio</b></td>
	        <td><%= @aliado.tipo_socio %></td>
	      </tr>

	      <tr>
	        <td><b>Correo</b></td>
	        <td><%= @aliado.correo %></td>
	      </tr>

	      <tr>
	        <td><b>Contacto</b></td>
	        <td><%= @aliado.contacto %></td>
	      </tr>
	    </table>


		<%= link_to 'Editar', edit_aliado_path(@aliado), :class=>"button" %>
		<%= link_to 'Regresar', aliados_path, :class=>"button"%>

	</div>
</div>