



<div class="top"></div>
<div class="bottom" ></div>

<div class="formContainer">

<i class="fa-4x" aria-hidden="true"><%= image_tag "logo-simbolo.png", :id => "main-logo" %></i>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field">
<%= f.label :email %><br />
<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
<%= f.label :password %><br />
<%= f.password_field :password, autocomplete: "current-password" %>
</div>

<div class="actions">
<%= f.submit "Log in" %>
</div>
<% end %>

</div>



<%= render "devise/shared/links" %>

