<%= form_with(model: preinscrito, local: true) do |form| %>
  <% if preinscrito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preinscrito.errors.count, "error") %> prohibited this preinscrito from being saved:</h2>

      <ul>
      <% preinscrito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="entity-table">
      <tr>
        <td><b>Nombre</b></td>
        <td><%= form.text_field :nombre %></td>
      </tr>

      <tr>
        <td><b>Apellido materno</b></td>
        <td><%= form.text_field :apellido_materno %></td>
      </tr>

      <tr>
        <td><b>Apellido paterno</b></td>
        <td><%= form.text_field :apellido_paterno %></td>
      </tr>

      <tr>
        <td><b>Correo contacto</b></td>
        <td><%= form.text_field :correo_contacto %></td>
      </tr>

      <tr>
        <td><b>Cca</b></td>
        <td><%= form.text_field :cca %></td>
      </tr>

      <tr>
        <td><b>Estatus user mensajeria</b></td>
        <td><%= form.check_box :estatus_user_mensajeria %></td>
      </tr>

      <tr>
        <td><b>Estatus ins mensajeria</b></td>
        <td><%= form.check_box :estatus_ins_mensajeria %></td>
      </tr>

      <tr>
        <td><b>Fecha de inscripción</b></td>
        <td><%= form.text_field :fecha_inscripcion %></td>
      </tr>

      <tr>
        <td><b>Género</b></td>
        <td><%= form.select :genero, ['Hombre', 'Mujer'] , class:"form-control"%></td>
      </tr>

      <tr>
        <td><b>Fecha de nacimieto</b></td>
        <td><%= form.text_field :fecha_nacimieto %></td>
      </tr>

      <tr>
        <td><b>País</b></td>
        <td><%= form.text_field :pais %></td>
      </tr>

      <tr>
        <td><b>Estado</b></td>
        <td><%= form.text_field :estado %></td>
      </tr>

      <tr>
        <td><b>Ciudad</b></td>
        <td><%= form.text_field :ciudad %></td>
      </tr>

      <tr>
        <td><b>Idioma</b></td>
        <td><%= form.text_field :idioma %></td>
      </tr>

      <tr>
        <td><b>Id organización</b></td>
        <td><%= form.number_field :id_organizacion %></td>
      </tr>

      <tr>
        <td><b>Rol</b></td>
        <td><%= form.select :rol, ['A', 'B'] , class:"form-control"%></td>
      </tr>
    </table>


  <div class="actions">
    <%= form.submit 'Guardar', :class => 'button tall' %>
  </div>
  
<% end %>
