<!--p id="notice"><%= notice %></p-->

<h1>Properties</h1>
    <div class="box">
      <div class="body">
        <div class="media">
          <div class="media-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Apellido paterno</th>
                  <th>Apellido materno</th>
                  <th>Correo contacto</th>
                  <!--th>Cca</th>
                  <th>Estatus user mensajeria</th>
                  <th>Estatus ins mensajeria</th>
                  <th>Fecha inscripcion</th>
                  <th>Genero</th>
                  <th>Fecha nacimieto</th> 
                  <th>Pais</th>
                  <th>Estado</th>
                  <th>Ciudad</th>
                  <th>Idioma</th>-->
                  <th>Id organizacion</th>
                  <th>Rol</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @preinscritos.each do |preinscrito| %>
                  <tr>
                    <td><%= preinscrito.id %></td>
                    <td><%= preinscrito.nombre %></td>
                    <td><%= preinscrito.apellido_paterno %></td>
                    <td><%= preinscrito.apellido_materno %></td>
                    <td><%= preinscrito.correo_contacto %></td>
                    <!--td><%= preinscrito.cca %></td>
                    <td><%= preinscrito.estatus_user_mensajeria %></td>
                    <td><%= preinscrito.estatus_ins_mensajeria %></td>
                    <td><%= preinscrito.fecha_inscripcion %></td>
                    <td><%= preinscrito.genero %></td>
                    <td><%= preinscrito.fecha_nacimieto %></td>
                    <td><%= preinscrito.pais %></td>
                    <td><%= preinscrito.estado %></td>
                    <td><%= preinscrito.ciudad %></td>
                    <td><%= preinscrito.idioma %></td>-->
                    <td><%= preinscrito.id_organizacion %></td>
                    <td><%= preinscrito.rol %></td>
                    <td><%= link_to 'Show', preinscrito %></td>
                    <td><%= link_to 'Edit', edit_preinscrito_path(preinscrito) %></td>
                    <td><%= link_to 'Destroy', preinscrito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <br>
        <%= link_to 'New Preinscrito', new_preinscrito_path %>
        <h3>Importar CSV</h3>
        <%= form_tag import_preinscritos_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Upload Preinscritos" %>
        <% end %>

      </div>
    </div>