<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<!--p id="notice"><%= notice %></p-->

<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Haus Dashboard</title>
  

<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  
</head>

<body>
  
<div id="nav">
  <div class="user-banner"><img src="assets/logo.png"/>
    <h5 class="username"><%= current_user.id %></h5>
  </div>
  <ul>
    <li class="head">General</li>
    <li class="active"><a href="inbox.html"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
    <li><%= link_to 'Preinscritos', preinscritos_url %></li>
    <li><a href="#"><i class="fa fa-fw fa-user-graduate"></i><span>Preinscritos</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-user"></i><span>Tenants</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-money"></i><span>Payments</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
  </ul>
</div>

<div id="main">
=======
  <h1>Properties</h1>
>>>>>>> 218e68c... Agregar checkboxes
  <div id="content">
=======
<h1>Properties</h1>
>>>>>>> a645a5c... layout fix
=======
<!--p id="notice"><%= notice %></p-->

<h1>Properties</h1>
>>>>>>> 5aa7cdf... layout fix
    <div class="box">
      <div class="body">
        <div class="media">
          <div class="media-body">
            <%= form_tag destroy_multiple_preinscritos_path, method: :delete do %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Apellido paterno</th>
                  <th>Apellido materno</th>
                  <th>Correo contacto</th>
                  <!--th>Cca</th>
                  <th>Estatus user mensajeria</th>
                  <th>Estatus ins mensajeria</th>
                  <th>Fecha inscripcion</th>
                  <th>Genero</th>
                  <th>Fecha nacimieto</th> 
                  <th>Pais</th>
                  <th>Estado</th>
                  <th>Ciudad</th>
                  <th>Idioma</th>-->
                  <th>Id organizacion</th>
                  <th>Rol</th>
                  <th data-sort-ignore="true"><input type="checkbox" id="selectAll"></input></th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @preinscritos.each do |preinscrito| %>
                  <tr>
                    <td><%= preinscrito.id %></td>
                    <td><%= preinscrito.nombre %></td>
                    <td><%= preinscrito.apellido_paterno %></td>
                    <td><%= preinscrito.apellido_materno %></td>
                    <td><%= preinscrito.correo_contacto %></td>
                    <!--td><%= preinscrito.cca %></td>
                    <td><%= preinscrito.estatus_user_mensajeria %></td>
                    <td><%= preinscrito.estatus_ins_mensajeria %></td>
                    <td><%= preinscrito.fecha_inscripcion %></td>
                    <td><%= preinscrito.genero %></td>
                    <td><%= preinscrito.fecha_nacimieto %></td>
                    <td><%= preinscrito.pais %></td>
                    <td><%= preinscrito.estado %></td>
                    <td><%= preinscrito.ciudad %></td>
                    <td><%= preinscrito.idioma %></td>-->
                    <td><%= preinscrito.id_organizacion %></td>
                    <td><%= preinscrito.rol %></td>
                    <td><%= link_to 'Show', preinscrito %></td>
                    <td><%= link_to 'Edit', edit_preinscrito_path(preinscrito) %></td>
                    <td><%= link_to 'Destroy', preinscrito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <td><%= check_box_tag "preinscrito_ids[]", preinscrito.id, false, class: 'selectable' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= submit_tag "Delete selected", :class => 'btn btn-primary btn-xs' %>
            <% end %>
          </div>
        </div>

        <br>
        <%= link_to 'New Preinscrito', new_preinscrito_path %>
        <h3>Importar CSV</h3>
        <%= form_tag import_preinscritos_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Upload Preinscritos" %>
        <% end %>

      </div>
    </div>
<<<<<<< HEAD
=======
<h1>Preinscritos</h1>
<div class="box">
  <div class="body">
    <table>
      <thead>
        <tr>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Correo contacto</th>
        <th>Cca</th>
        <th>Estatus user mensajeria</th>
        <th>Estatus ins mensajeria</th>
        <th>Fecha inscripcion</th>
        <th>Genero</th>
        <th>Fecha nacimieto</th>
        <th>Pais</th>
        <th>Estado</th>
        <th>Ciudad</th>
        <th>Idioma</th>
        <th>Id organizacion</th>
        <th>Rol</th>
        <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @preinscritos.each do |preinscrito| %>
        <tr>
        <td><%= preinscrito.nombre %></td>
        <td><%= preinscrito.apellido_paterno %></td>
        <td><%= preinscrito.apellido_materno %></td>
        <td><%= preinscrito.correo_contacto %></td>
        <td><%= preinscrito.cca %></td>
        <td><%= preinscrito.estatus_user_mensajeria %></td>
        <td><%= preinscrito.estatus_ins_mensajeria %></td>
        <td><%= preinscrito.fecha_inscripcion %></td>
        <td><%= preinscrito.genero %></td>
        <td><%= preinscrito.fecha_nacimieto %></td>
        <td><%= preinscrito.pais %></td>
        <td><%= preinscrito.estado %></td>
        <td><%= preinscrito.ciudad %></td>
        <td><%= preinscrito.idioma %></td>
        <td><%= preinscrito.id_organizacion %></td>
        <td><%= preinscrito.rol %></td>
        <td><%= link_to 'Show', preinscrito %></td>
        <td><%= link_to 'Edit', edit_preinscrito_path(preinscrito) %></td>
        <td><%= link_to 'Destroy', preinscrito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Preinscrito', new_preinscrito_path %>
>>>>>>> 87896d2... layout
  </div>
=======
    </div>
>>>>>>> a645a5c... layout fix
=======


>>>>>>> 5aa7cdf... layout fix
