<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @preinscrito.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @preinscrito.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @preinscrito.apellido_materno %>
</p>

<p>
  <strong>Correo contacto:</strong>
  <%= @preinscrito.correo_contacto %>
</p>

<p>
  <strong>Cca:</strong>
  <%= @preinscrito.cca %>
</p>

<p>
  <strong>Estatus user mensajeria:</strong>
  <%= @preinscrito.estatus_user_mensajeria %>
</p>

<p>
  <strong>Estatus ins mensajeria:</strong>
  <%= @preinscrito.estatus_ins_mensajeria %>
</p>

<p>
  <strong>Fecha inscripcion:</strong>
  <%= @preinscrito.fecha_inscripcion %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @preinscrito.genero %>
</p>

<p>
  <strong>Fecha nacimieto:</strong>
  <%= @preinscrito.fecha_nacimieto %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @preinscrito.pais %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @preinscrito.estado %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @preinscrito.ciudad %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @preinscrito.idioma %>
</p>

<p>
  <strong>Id organizacion:</strong>
  <%= @preinscrito.id_organizacion %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @preinscrito.rol %>
</p>

<%= link_to 'Edit', edit_preinscrito_path(@preinscrito) %> |
<%= link_to 'Back', preinscritos_path %>
