

<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nombre:</strong>
        <%= @course.name %>
      </p>

      <p>
        <strong>Código de curso:</strong>
        <%= @course.course_code %>
      </p>

      <p>
        <strong>Fecha de inicio:</strong>
        <%= @course.start_date %>
      </p>

      <p>
        <strong>Fecha de fin:</strong>
        <%= @course.end_date %>
      </p>

      <%= link_to 'Editar', edit_course_path(@course) %> |
      <%= link_to 'Atrás', courses_path %>
    </div>
  </div>
</div>
