<!DOCTYPE html>
<html>
  <head>
    <title>TutorVirtual2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% unless !(user_signed_in?) %>
      <div class="sidebar-container">

        <div class="sidebar-logo">
          <%= image_tag "logo.png"%>
          <h5 class="username">Bienvenido <%= current_user.email %>!</h5>
        </div>

        <ul class="sidebar-navigation">

          <li><%= link_to home_index_url do %> Inicio <% end %></li>
          <li><%= link_to courses_url do %> Cursos <% end %></li>
          <li><%= link_to tutors_url do %> Tutores <% end %></li>
          <li><%= link_to students_url do %> Preinscritos <% end %></li>
          <li><%= link_to coordinators_url do %> Coordinadores <% end %></li>
          <li><%= link_to supervisors_url do %> Supervisores <% end %></li>
          <li><%= link_to stakeholders_url do %> Administradores <% end %></li>
          <li><%= link_to groups_url do %> Grupos <% end %></li>
          <li><%= link_to logout_url do %> Cerrar Sesión <% end %></li>

        </ul>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
