<!DOCTYPE html>
<html>
<head>
    <title>Tutorvirtual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    

    <div id="nav">
        <div class="user-banner"><img src="assets/logo.png"/>
            <h5 class="username">Diego Contreras</h5>
        </div>
        <ul>
            <li class="head">General</li>

            <li class="active menu-item"><%= link_to "Dashboard", root_path %></li>
            <li class="menu-item"><%= link_to 'Preinscritos', preinscritos_url%></li>

            <li class="menu-item"><a href="#"><span>Tenants</span></a></li>
            <li class="menu-item"><a href="#"><span>Payments</span></a></li>
            <li class="menu-item"><a href="#"><span>Settings</span></a></li>
            <li class="menu-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
        </ul>
    </div>

    <div id="main">

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div id="content">
        <%= yield %>
    </div>

    </body>
</html>
